* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(WhatsApp\ Image\ 2024-02-29\ at\ 3.10.26\ PM.jpeg);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 55px;
    background-color: aqua;
    display: inline;
    padding: 0 15px;
    border-radius: 15px;
    color: blue;
}

.game {
    height: 60vmin;
    width: 60vmin;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px 5px yellow;
    background-color: #12B17A;
    font-size: 8vmin;
    color: darkred;
}

.box text {
    font-weight: 900;
}

#reset-game {
    padding: 1rem;
    border-radius: 9px;
    font-size: 16px;
    border: none;
    background-color: orangered;
    color: white;
}

.msg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: inline; */
}

#new-game {
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 16px;
    border: none;
    background-color: rgb(77, 92, 52);
    color: white;
    width: 150px;
}

#msg {
    font-size: 40px;
    color: yellow;
    background-color: rgb(244, 70, 1);
    display: inline;
    padding: 0 18px;
    border-radius: 17px;

}

.hide {
    display: none;
}